<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real-Time Updates</title>
</head>
<body>
    <ul id="updates"></ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

        socket.on('update', function(msg) {
            var ul = document.getElementById('updates');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(msg.data + ' - ' + msg.timestamp));
            ul.appendChild(li);
        });
    </script>
</body>
</html>
